.btn-excluir-secretaria {
    color: #697a8d;
    transition: 0.25s ease-in-out;
}

.btn-excluir-secretaria:hover {
    color: red;
}

.btn-renomear-secretaria {
    color: #697a8d;
    transition: 0.25s ease-in-out;
}

.btn-renomear-secretaria:hover {
    color: rgb(255, 196, 0);
}

.card-secretaria {
    display: inline-block;
    height: 2.309375rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    outline: 1px solid #d9dee3;
    transition: 0.5s ease-in-out;
}

.card-secretaria:hover {
    outline: 1px solid #696cff;
}